<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
<h2>Edit Employee</h2>
<hr/>
<form method="post" th:action="@{'/employee/save'}">
    <input th:value="${employee.employee_id}" name="employee_id" type="hidden"/>
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input th:value="${employee.first_name}" type="text" class="form-control" name="first_name"
               id="first_name">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input th:value="${employee.last_name}" type="text" class="form-control" name="last_name"
               id="last_name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input th:value="${employee.email}" type="text" class="form-control" name="email"
               id="email">
    </div>
    <div class="form-group">
        <label for="phone_number">Phone Number</label>
        <input th:value="${employee.email}" type="text" class="form-control" name="phone_number"
               id="phone_number">
    </div>
    <div class="form-group">
        <label for="hire_date">Hire Date</label>
        <input th:value="${employee.hire_date}" type="text" class="form-control" name="hire_date"
               id="hire_date">
    </div>
    <div class="form-group">
        <label for="job_id">Job id</label>
        <select class="form-control" name="job_id" id="job_id">
            <option th:each="job : ${listaJob}" th:value="${job.job_id}"
                    th:text="${job.job_title}"></option>
        </select>
    </div>
    <div class="form-group">
        <label for="salary">Salary</label>
        <input th:value="${employee.salary}" type="number" class="form-control" name="salary" id="salary">
    </div>
    <div class="form-group">
        <label for="commission_pct">Commission pct</label>
        <input th:value="${employee.commission_pct}" type="number" class="form-control" name="commission_pct" id="commission_pct">
    </div>
    <div class="form-group">
        <label for="manager_id">Manager id</label>
        <input th:value="${employee.manager_id}" type="number" class="form-control" name="manager_id" id="manager_id">
    </div>

    <div class="form-group">
        <label for="department_id">Department</label>
        <select class="form-control" name="supplier" id="supplier">
            <option th:each="department : ${listaDepartment}" th:value="${department.department_id}"
                    th:text="${department.department_name}"></option>
        </select>
    </div>
    <a th:href="@{'/employee'}" class="btn btn-danger">Cancelar</a>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
</body>
</html>