<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NEW JOB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</head>
<body class="container">
<h2>Nuevo job</h2><hr />
<form method="post" th:action="@{'/job/guardar'}">
    <div class="form-group">
        <label for="jobtitle">job title</label>
        <input name="job_title" type="text" class="form-control" id="jobtitle">
    </div>
    <div class="form-group">
        <label for="phone">min salary</label>
        <input name="min_salary" type="text" class="form-control" id="phone">
    </div>
    <div class="form-group">
        <label for="maxSalary">max salary</label>
        <input name="max_salary" type="text" class="form-control" id="maxSalary">
    </div>
    <a th:href="@{'/job/listarJ'}" class="btn btn-danger">Cancelar</a>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
</body>
</html>